## Grammar checking

I'm trying to compute the grammatical error before % for MNLI and SNLI results using the textfooler attack. 

**SNLI CSV path**: `/p/qdata/jm8wx/research/text_attacks/textattack/scripts/../outputs/attack-1581961069915.csv`

**MNLI CSV path**: `/p/qdata/jm8wx/research/text_attacks/textattack/scripts/../outputs/attack-1581961847619.csv`

In [5]:
import pandas as pd
SNLI_CSV_PATH = '/p/qdata/jm8wx/research/text_attacks/textattack/scripts/../outputs/attack-1581961069915.csv'
snli_df = pd.read_csv(SNLI_CSV_PATH)
snli_df.head()

,label_1,label_2,passage_1,passage_2,score_1,score_2
0,0.0,0.0,A person in a black and green outfit is riding...,A person in a black and green outfit is riding...,NaN,NaN
1,1.0,2.0,A person rolls down a hill riding a wagon as a...,A person rolls down a hill riding a wagon as a...,0.905764,0.934774
2,2.0,1.0,A man in a black [[tank]] [[top]] wearing a re...,A man in a black [[container]] [[major]] weari...,0.824115,0.547622
3,2.0,0.0,pedestrian walking on the [[street]]\n\nA pers...,pedestrian walking on the [[calle]]\n\nA perso...,0.996155,0.812361
4,2.0,1.0,Families with [[strollers]] waiting in front o...,Families with [[pram]] waiting in front of a c...,0.833854,0.822400

In [1]:
import language_check
lang_tool = language_check.LanguageTool("en-US")

In [13]:
def count_errors(text): return len(lang_tool.check(text))

In [9]:
MNLI_CSV_PATH = '/p/qdata/jm8wx/research/text_attacks/textattack/scripts/../outputs/attack-1581961847619.csv'
mnli_df = pd.read_csv(MNLI_CSV_PATH)
mnli_df.head()

,label_1,label_2,passage_1,passage_2,score_1,score_2
0,0.0,2.0,"On Naxos , you can walk through the pretty vil...","On Naxos , you can walk through the pretty vil...",0.736450,0.929400
1,0.0,1.0,"In Temple Bar , the bookshop at the Gallery of...","In Temple Bar , the bookshop at the Gallery of...",0.995406,0.862427
2,2.0,0.0,But the real dirty work had already been done ...,But the real dirty work had already been done ...,0.991133,0.949488
3,1.0,2.0,"[[Impossible]] .\n\n[[Impossible]] , unless ci...","[[Impassable]] .\n\n[[Utopian]] , unless circu...",0.999438,0.844229
4,0.0,1.0,Expenses included in calculating net cost for ...,Expenses included in calculating net cost for ...,0.986872,0.984315

In [14]:
mnli_df['p1_errors'] = mnli_df['passage_1'].map(count_errors)
mnli_df['p2_errors'] = mnli_df['passage_2'].map(count_errors)

In [30]:
(mnli_df['p2_errors'] > mnli_df['p1_errors']).sum()

217

In [26]:
import tqdm
tqdm.tqdm.pandas()

snli_df['p1_errors'] = mnli_df['passage_1'].progress_map(count_errors)
snli_df['p2_errors'] = mnli_df['passage_2'].progress_map(count_errors)

/u/jm8wx/.conda/envs/newtorch/lib/python3.7/site-packages/tqdm/std.py:658: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  from pandas import Panel
100%|██████████| 958/958 [00:33<00:00, 28.32it/s]
100%|██████████| 958/958 [00:26<00:00, 35.59it/s]

In [29]:
(snli_df['p2_errors'] > snli_df['p1_errors']).sum()

216